@page "/order/{id:int}/delete"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/petite-vue.js"></script>
</head>
<body>
  <script>
    const xhr=new XMLHttpRequest;xhr.onreadystatechange=()=>{
      if(xhr.readyState===4){
        window.location.href= '/';
      }
    };
    xhr.open("DELETE",'/api/order/@RouteData.Values["id"]',true);
    xhr.send("");
  </script>
</body>
</html>